@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: inherit;
}

body {
  font-family: 'League Spartan', sans-serif;
  font-weight: 500;
}

.container {
  margin: 0 auto;
  max-width: 1300px;
  width: 90%;
}

.text-yellow {
  color: #F3DF4A;
}

.text-purple {
  color: #6868AC;
}

.text-fuchsia {
  color: #972472;
}

.text-white {
  color: #FFFFFF;
}

.text-regular {
  font-family: 'League Spartan';
  font-weight: 400;
}	

.text-medium {
  font-family: 'League Spartan';
  font-weight: 500;
}	

.text-bold {
  font-family: 'League Spartan';
  font-weight: 700 !important;
}

.header .logo-container {
  align-items: center;
  background: #972472;
  display: flex;
  height: 75px;
}

.header .logo-container h4 {
  color: #fff;
}

.header .logo-container h1 {
  font-size: 2.5rem;
}

.hero {
  background: url('../img/hero.jpg') no-repeat center center;
  height: 770px;
  padding: 13px 0;
  position: relative;
}

.hero > .container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.hero .text-purple {
  font-size: 45px;
  width: 144px;
}

.hero .text-yellow {
  align-self: end;
  font-size: 40px;
  text-align: right;
  width: 190px;
}

.hero .violet-star {
  position: absolute;
  right: 44px;
  top: 88px;
  width: 42px;
}

.main {
  background: #6868AC;
}

.strategy {
  margin-bottom: 48px;
  padding-bottom: 36px;
}

.title-container {
  margin: 0 auto;
  position: relative;
  padding-bottom: 72px;
  width: 165px;
}

.title-container h2 {
  color: #972472;
  font-size: 36px;
  text-align: center;
}

.icon {
  position: absolute;
}

.title-container .icon.stars {
  right: -18px;
  top: 23px;
}

.title-container .icon.moom {
  left: -40px;
  top: -24px;
  width: 26px;
}

.title-container .icon.single-star {
  left: -20px;
  top: 23px;
}

.strategies-container {
  display: grid;
  grid-gap: 18px;
}

.values,
.values .value:nth-child(-n+2) {
  margin: 0 auto;
  margin-bottom: 45px;
  width: 270px;
}

.values .value h2 {
  margin-bottom: 10px;
}

.values .value p {
  color: #FFFFFF;
  font-size: 12px;
  line-height: 11px;
}

.strategy-item, .ayuda-item {
  align-items: center;
  border-radius: 4px;
  border: 5px solid #FFFFFF;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  display: grid;
  grid-gap: 12px;
  grid-template-columns: 54px auto;
  height: 100px;
  margin: 0 auto;
  min-width: 280px;
  padding: 0 15px;
  position: relative;
  width: 280px;
}

.strategy-item .strategy-img {
  width: 100%;
}

.strategy-item .leaf {
  bottom: 10px;
  height: 69px;
  right: -25px;
}

.strategy-item .diamond {
  bottom: 220px;
  height: 21px;
  left: -42px;
}

.strategy-item .spiral-rose {
  right: -45px;
  top: 89px;
  width: 22.73px;
}

.strategy-item .text-container .text-yellow {
  font-size: 14px;
  line-height: 13px;
  margin-bottom: 5px;
}

.strategy-item .text-container .text-regular.text-white {
  font-size: 10px;
  line-height: 9px;
  text-align: justify;
}

.strategy-item .text-container .text-fuchsia {
  font-size: 15px;
  line-height: 14px;
  text-align: justify;
}

.ayuda {
  margin-bottom: 51px;
  position: relative;
}

.ayuda .spiral {
  left: 22px;
  top: 837px;
  width: 16px;
}

.ayuda .violet-star {
  left: 10vw;
  top: 55%;
  width: 15px;
}

.ayuda .violet-leaf {
  height: 64px;
  right: 0;
  top: 80%;
}

.ayuda .green-leaf {
  height: 45.5px;
  left: 0;
  top: 145%;
}

.ayuda > .container > .text-yellow {
  font-size: 25px;
  font-weight: 400;
  line-height: 23px;
  margin-bottom: 23px;
  text-align: center;
}

.ayuda-container {
  display: grid;
  grid-gap: 18px;
}

.ayuda .ayuda-item .text-container {
  color: #ffffff;
}

.ayuda .ayuda-item .text-yellow {
  text-align: left;
  font-size: 14px;
  line-height: 13px;
  margin-bottom: 5px
}

.ayuda .ayuda-item a.text-yellow {
  display: inline-block;
  font-size: 9px;
  line-height: 8px;
  margin: 10px 0 0 0;
}

.ayuda .ayuda-item .text-regular {
  font-size: 10px;
  line-height: 9px;
  text-align: justify;
}

.partners > .container > h2.text-yellow {
  font-size: 28px;
  line-height: 26px;
  margin-bottom: 48px;
  text-align: center;
}

.partners .partners-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(60px, 93px));
  justify-items: center;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 62px;
}

.img-container {
    border: 3px solid #FFFFFF;
    border-radius: 4px;
    width: 100%;
    height: 77px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.partners .partners-container .partner-club {
  grid-column: 1 / 3;
  justify-self: center;
}

.partners p.text-yellow {
  font-size: 20px;
  line-height: 18px;
  margin: 0 auto 36px auto;
  text-align: center;
  width: 325px;
}

.contacto {
  margin-bottom: 58px;
}

.contacto > .container > .text-yellow {
  font-size: 28px;
  line-height: 26px;
  margin-bottom: 14px;
  text-align: center;
}

.form-contacto .contacto-item label {
  color: #FFFFFF;
  display: block;
  font-size: 20px;
  line-height: 18px;
  margin-bottom: 5px;
}

.form-contacto .contacto-item input {
  border-radius: 4px;
  border: none;
  font-size: 20px;
  height: 60px;
  margin-bottom: 10px;
  outline: none;
  padding: 10px;
  width: 100%;
}

.form-contacto > input {
  background: #F3DF4A;
  border-radius: 4px;
  border: none;
  color: #6868AC;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  height: 50px;
  outline: none;
  transition: opacity .3s ease-in-out;
  width: 100%;
} 

.form-contacto > input:hover {
  opacity: .7;
}

.canales {
  padding-bottom: 73px;
}

.canales .container h2.text-yellow {
  font-size: 28px;
  line-height: 26px;
  text-align: center;
  margin-bottom: 30px;
}

.socials-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-row-gap: 58px;
}

.socials-container .social-item {
  color: #ffffff;
  display: grid;
  grid-row-gap: 17px;
  justify-items: center;
  text-decoration: none;
  transition: opacity .3s ease-in-out;
}

.socials-container .social-item:hover {
  opacity: .5;
}

.socials-container .social-item i {
  font-size: 48px;
}

.socials-container .social-item span {
  font-size: 18px;
  line-height: 17px;
}

.footer {
  background: #972472;
  padding: 20px 0 10px;
}

.footer > .container {
  align-items: center;
  color: #fff;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 20px;
}

.footer-data .text {
  margin-bottom: 10px;
  font-size: 12px;
}

.footer-data .text > p {
  margin-bottom: 3px;
}

.footer-data .text:last-of-type {
  margin-bottom: 30px;
}

.footer-data > span {
  font-size: 10px;
}


.actions{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.btn{
    min-height: 48px;
    border-radius: 4px;
    border: none;
}
.btn--email{
    background-color: var(--color-yellow);
    background-color: rgb(66, 102, 216);
    color: var(--color-blue);
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: .1rem;
    text-decoration: none;
    
    display: flex;
    justify-content: center;
    align-items: center; 
}
.btn--donar{
    background-color: var(--color-yellow);
    background-color: #f3df4a;
    color: var(--color-blue);
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: .1rem;
    text-decoration: none;
    
    display: flex;
    justify-content: center;
    align-items: center; 
}